.calendar-container {
  flex-grow: 1;
  height: 100%;
}

.calendar {
  width: 90%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.calendar-scrollable-grid {
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  height: calc(100% - 140px);
}
