.event-card-container {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  height: 50px;
  margin: 0px 5px 0px 5px;
  width: 100%;
  position: absolute;
}

.event-card-bar {
  background: #0ea5e9;
  min-width: 2px;
}

.event-card-summary {
  background: rgba(14, 165, 233, 0.1);
  padding: 5px;
  width: 100%;
}

.event-timing {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #0369a1;
}

.first-line {
  height: 16px;
  font-size: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.online-call {
  height: 100%;
  margin-left: 4px;
  transition: all 0.5s ease-in;
}

.online-call:hover {
  /* background: #0369a1; */
  cursor: pointer;
}
.online-call:hover > svg {
  fill: #0ea5e9;
}

.second-line {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  height: calc(100% - 16px);
  overflow: hidden;

  color: #0369a1;
}
