.view-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.view-pill {
  padding: 4px;
  height: fit-content;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;

  color: #71717a;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.selected-view-pill {
  background: #dc2626;
  color: white;
}
