.grid-cell {
  width: 100%;
  height: calc(100vh / 12);
  background: #ffffff;
  box-shadow: inset -1px -1px 0px #e0e0e0;
}

.grid-column {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.grid {
  display: flex;

  width: 100%;
}

.events {
}

.grid-time-cell {
  display: flex;
  width: 100%;
  /* height: calc(100vh / 12); */
  height: calc(100vh / 12);
  box-shadow: inset -1px -1px 0px #e0e0e0;

  justify-content: center;
  align-items: center;
}

.grid-time-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  min-width: 100px;
}
