.grid-cell {
  width: 100%;
  height: 60px;
  background: #ffffff;
  box-shadow: inset -1px -1px 0px #e0e0e0;
}

.grid-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid {
  display: flex;

  width: 100%;
}

.events {
}

.grid-time-cell {
  display: flex;
  width: 100%;
  height: 60px;
  /* box-shadow: inset -1px -1px 0px #e0e0e0; */

  justify-content: center;
}

.grid-time-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  min-width: 100px;
}

.grid-column-holders {
  width: 20%;
  /* position: absolute; */
  height: 100%;
}

.grid-time-cell-first-line {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* gray/500 */

  color: #71717a;
}
