.grid-cell {
  width: 100%;
  background: #ffffff;
  box-shadow: inset -1px -1px 0px #e0e0e0;
  transition: 0.2s all ease-in-out;
  border-radius: 2px;
}

.grid-cell:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.same-day {
  background-color: rgb(25, 118, 210, 0.07);
}

.grid-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calendar-grid {
  display: flex;
  position: relative;
  width: 100%;
}

.grid-time-cell {
  display: flex;
  width: 100%;
  padding: 4px;
  justify-content: center;
}

.grid-time-container {
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

.grid-column-holders {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  min-width: 64px;
}

.grid-time-cell-first-line {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* gray/500 */

  color: #71717a;
}

.time-marker-container {
  position: absolute;
  display: flex;
  z-index: 1;
}
.solid-time-marker {
  border-top: 2px red dotted;
}

.dotted-time-marker {
  border-top: 2px red solid;
}

.create-event-holder {
  border-radius: 5px;
  background-color: rgb(3, 155, 229);
  position: absolute;

  transition: 0.1s top ease;
  box-shadow: 3px 3px #dcdce0;
  opacity: 0.5;
}
